<div class="banner<%= ' vh-100' unless @cocktail.name && @cocktail.name != "" %>" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.id ? @cocktail.photo : @cocktail.remote_photo_url %>');">
  <div class="container d-flex justify-content-center flex-column h-100">
    <div>
      <% if @cocktail.name && @cocktail.name != "" %>
        <h1><%= @cocktail.name %></h1>
      <% else %>
        <%= simple_form_for @cocktail do |f| %>
          <div class="input-group justify-content-between">
            <%= f.input :name, label: false, input_html: { class: "form-control m-0" } %>
            <div class="input-group-append">
              <%= f.button :submit, "Create", id: "create-cocktail-submit", class: "btn-primary hidden" %>
            </div>
          </div>
          <%= f.input :default_photo_url, as: :hidden, input_html: { value: @cocktail.remote_photo_url } %>
          <div class="row">
            <p class="text-center mt-3 w-100">OR</p>
            <%= link_to "Auto-generate name", autogenerate_cocktails_path, method: :post, id:"btn-autogenerate-name", class: "btn btn-outline-light mt-3 mx-auto" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'new_cocktail' %>
