<%= render 'banner' %>

<div class="container mb-5">
  <div id="container-ingredients" class="container hoverable">
    <div class="row pt-5 justify-content-center">
      <div class="col-12 col-sm-8">
        <h3>Ingredients</h3>
        <% if @cocktail.doses.size > 0 %>
          <a href="#" class="btn btn-outline-secondary btn-hover-container" data-toggle="modal" data-target="#editIngredients">
            <i class="far fa-edit"></i> Edit recipe
          </a>
          <ul class="list-ingredients list-group">
            <% @cocktail.doses.each do |dose| %>
              <li class="list-group-item"><%= dose.description %> of <%= dose.ingredient.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No ingredients in this cocktail recipe yet...</p>
          <a id="add-first-ingredient" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editIngredients">
            <i class="far fa-edit"></i> Add your first ingredient
          </a>
        <% end %>
      </div>
    </div>
  </div>

  <div id="container-reviews" class="container hoverable">
    <div class="row pt-5 justify-content-center">
      <div class="col-12 col-sm-8">
        <h3>Reviews</h3>
        <% if @cocktail.reviews.size > 0 %>
          <a href="#leave-a-review" class="btn btn-outline-secondary btn-hover-container">
            <i class="fas fa-star"></i> Leave a review
          </a>
          <ul class="list-ingredients list-group">
            <% @cocktail.reviews.take(8).each do |review| %>
              <li class="list-group-item">
                <%= ('<i class="fas fa-star"></i>' * review.rating).html_safe %>
                <p><%= review.description %></p>
                </li>
            <% end %>
          </ul>
          <% if @cocktail.reviews.count > 8 %>
            <div class="text-center"><%= link_to "See all reviews for #{@cocktail.name}", cocktail_reviews_path(@cocktail) %></div>
          <% end %>
        <% else %>
          <p>No reviews for this cocktail yet...</p>
        <% end %>
        <%= render 'reviews/form' %>
      </div>
    </div>
  </div>
</div>


<!-- New Ingredient Modal -->
<div class="modal fade" id="editIngredients" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit recipe for <%= @cocktail.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "doses/list_edit" %>
        <%= render "doses/form" %>
      </div>
    </div>
  </div>
</div>

<!-- Edit Photo Modal -->
<div class="modal fade" id="editPhoto" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload photo for <%= @cocktail.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <%= render "cocktails/photo_upload_form" %>
      </div>
    </div>
  </div>
</div>
