<div id="main-banner" class="banner">
  <div class="container d-flex justify-content-center flex-column h-100" data-target="navbar.banner">
    <div>
      <!-- <span class="logo">HipsterBlends <i class="fas fa-cocktail"></i></span> -->
      <h1 class="my-3">The world's best hipster cocktail recipes.</h1>
      <p class="my-3">Because alcohol tastes better than tears.</p>

      <%= simple_form_for :home_search, wrapper: :inline_form, html: { id: 'search-form', class: 'form-inline my-5', data: { controller: 'home' } }, url: search_path, method: :get do |f| %>
          <div class="row w-100">
            <div class="col-12">
              <%= f.input :keyword, label: false %>
            </div>
          </div>
          <%= f.button :submit, "Find the perfect drink", class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


<div id="cocktails" class="container mt-5">
  <h2>Most popular</h2>
  <div class="grid-cards mb-5">
    <% @most_popular.take(4).each do |cocktail| %>
      <%= render partial: "cocktails/card", locals: { cocktail: cocktail } %>
    <% end %>
  </div>

  <h2>All our cocktails</h2>
  <div class="grid-cards mb-5">
    <% @cocktails.each do |cocktail| %>
      <%= render partial: "cocktails/card", locals: { cocktail: cocktail } %>
    <% end %>
  </div>
</div>
